@charset "UTF-8";

/* Table Image */
.table-image img {
    width: auto; /* Resetting width to auto to maintain aspect ratio */
    max-width: 400px; /* Adjust the max-width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
}

.table-image table {
    width: 100%;
    border-collapse: collapse;
}

.table-image th, .table-image td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-image th {
    background-color: #f2f2f2;
}

.table-image img {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100px; /* Adjust the max-width as needed */
    height: auto; /* This ensures the aspect ratio is maintained */
}

.table-image .total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-image .total {
    text-align: left;
}

.table-image #update-total {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.table-image #update-total:hover {
    background-color: #555;
}

.table-image .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.table-image .button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.table-image .button:hover {
    background-color: #555;
}